@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: oklch(
    0.511 0.096 186.391
  ); /* bg-teal-500  oklch(0.704 0.14 182.503);  bg-teal-700 oklch(0.511 0.096 186.391)*/
  --primary-color-hover: oklch(0.6 0.118 184.704); /* bg-teal-600 */

  --secondary-color: oklch(0.554 0.046 257.417); /* bg-slate-500 */

  --tertiary-color: #FFFFF; /* bg-white */
  --font-family: Inter, sans-serif;
}

body {
  font-family: var(--font-family);
}
